.about-me-container {
  color: white;
  animation: container ease 300ms;
}

.header-title {
  font-size: 45px;
  color: var(--primary-200);
}

.about-me-p {
  margin-top: 30px;
  font-size: var(--paragraph);
  line-height: 30px;
  font-weight: 500;
}
