:root {
  /* main colors*/
  --primary-100: #1b1b1b;
  --primary-200: #81e6d9;

  --neutral-100: #fff;
  --neutral-200: #000;

  --bg-light: rgb(240, 231, 219);

  /* font size */
  --size-100: 2em;
  --size-200: 1.8em;
  --size-300: 1.6em;
  --size-400: 1.4em;
  --size-500: 1.2em;
  --paragraph: 1.1em;
  --regular: 0.9em;
  --helper-text: 0.8em;
}

body {
  position: relative;
  font-family: "inter", sans-serif;
  height: 100vh;
  font-size: 1.1rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-500);
  text-decoration: none;
}

.container {
  --max-width: 800px;
  --padding: 2.5rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: inherit;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }
}
