:root {
  /* main colors*/
  --primary-100: #1b1b1b;
  --primary-200: #81e6d9;

  --theme-dark-bg: #6e44ff;
  --theme-light-bg: #fdd87d;

  --neutral-100: #fff;
  --neutral-200: #000;

  --bg-light: rgb(240, 231, 219);

  /* font size */
  --size-100: 2em;
  --size-200: 1.8em;
  --size-300: 1.6em;
  --size-400: 1.4em;
  --size-500: 1.2em;
  --paragraph: 1.1em;
  --regular: 0.9em;
  --helper-text: 0.8em;
}

.dark {
  font-weight: 400;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--neutral-100);
  background-color: var(--primary-100);
}

.light {
  font-weight: 400;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--neutral-200);
  background-color: var(--bg-light);
}

*,
::before,
::after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-500);
  text-decoration: none;
}

.container {
  --max-width: 1150px;
  --padding: 2.5rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: inherit;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.btn:hover {
  background: var(--primary-200);
  color: var(--primary-100);
}

.btn:focus {
  outline: none;
  background-color: var(--primary-200);
  color: var(--primary-100);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.theme-panel-dark {
  display: grid;
  place-content: center;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--theme-light-bg);
  color: var(--primary-100);
  cursor: pointer;
  width: 50px;
  height: 45px;
}

.theme-panel-light {
  display: grid;
  place-content: center;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--theme-dark-bg);
  color: var(--bg-light);
  cursor: pointer;
  width: 50px;
  height: 45px;
}

.theme-panel-dark:hover {
  background-color: #fdd01d;
  transition: ease-in-out 300ms;
}

.theme-panel-light:hover {
  background-color: #6e10ff;
  transition: ease-in-out 300ms;
}

.theme-icon {
  font-size: 18px;
}

@keyframes IconPanel {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes IconPanelSecond {
  from {
    transform: translateY(0%);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
