.hero-container {
  animation: container ease 300ms;
}

.hero-title {
  font-weight: 500;
  font-size: 45px;
  color: var(--primary-200);
}

.hero-section p {
  margin-top: 30px;
  color: var(--neutral-200);
  font-size: var(--paragraph);
  line-height: 30px;
  font-weight: 500;
}

.icon-container {
  margin-top: 3rem;
  position: relative;
  height: 200px;
}

.icon {
  color: var(--primary-100);
}

.icon {
  filter: drop-shadow(20px 20px 20px black);
}

.react-icon {
  font-size: 100px;
  position: absolute;
  animation: iconMovement 1.2s ease-in-out forwards infinite;
  animation-direction: alternate;
  animation-delay: -1.8s;
}

.css-icon {
  font-size: 60px;
  position: absolute;
  bottom: 10%;
  left: 24%;
  animation: iconMovement 1.2s ease-in-out forwards infinite;
  animation-direction: alternate;
  animation-delay: -1.6s;
}

.html-icon {
  font-size: 70px;
  position: absolute;
  left: 38%;
  animation: iconMovement 1.2s ease-in-out forwards infinite;
  animation-direction: alternate;
  animation-delay: -1.4s;
}

.js-icon {
  font-size: 80px;
  position: absolute;
  bottom: 10%;
  right: 30%;
  animation: iconMovement 1.2s ease-in-out forwards infinite;
  animation-direction: alternate;
  animation-delay: -1.2s;
}

.ts-icon {
  position: absolute;
  right: 0%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0 4px;
  background-color: var(--primary-100);
  width: 90px;
  height: 90px;
  filter: drop-shadow(20px 20px 20px black);
  animation: tsIcon 1.2s ease-in-out forwards infinite;
  animation-direction: alternate;
  animation-delay: -1s;
}

.ts-icon span {
  font-size: 3rem;
  font-weight: 600;
}

@keyframes iconMovement {
  from {
    transform: translateY(0);
    color: var(--primary-300);
  }

  to {
    transform: translateY(25px);
  }
}

@keyframes tsIcon {
  from {
    transform: translateY(0);
    background-color: var(--primary-300);
  }

  to {
    transform: translateY(25px);
  }
}

@keyframes container {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
