.logo-container {
  font-size: var(--size-100);
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-homura {
  background: -webkit-linear-gradient(#000, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  font-weight: 500;
  color: var(--neutral-200);
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-top: 4rem;
}

.nav-items {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 10px 15px;
  color: var(--neutral-200);
  font-size: var(--paragraph);
  transition: ease-in-out 200ms;
  cursor: pointer;
}

.nav-link:hover {
  background-color: var(--primary-100);
  box-shadow: 0px 0px 5px 5px #120635;
  color: var(--neutral-100);
}

.menu-bar {
  position: absolute;
  top: 120%;
  right: 0%;
  transition: ease-in 400ms;
  background-color: #141919;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 5px #090909;
  z-index: 100;
  font-size: 1.1em;
  animation: container 250ms ease-in-out;
}

.menu-bar ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  gap: 10px;
  border-radius: 3px;
}

.menu-link {
  display: flex;
  border: none;
  background-color: #141919;
  border-radius: 3px;
  color: var(--neutral-100);
  font-size: 0.9em;
  width: 100%;
  padding: 20px;
}

.menu-link:hover {
  background-color: var(--primary-100);
}

.menu-link:focus {
  background-color: var(--primary-100);
  color: var(--neutral-100);
  outline: 1px solid white;
}

.bar {
  background-color: var(--primary-400);
  color: var(--neutral-100);
  cursor: pointer;
  font-size: 20px;
  border: 1px solid var(--neutral-100);
  border-radius: 3px;
  padding: 10px 15px;
  transition: ease-in 100ms;
}

.bar.active {
  background-color: var(--neutral-100);
  color: var(--black);
}

.close-btn:hover {
  transform: scale(1.1);
}

@keyframes open {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 300px;
  }
}

@keyframes bar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
