.side-bar {
  position: sticky;
  top: 35%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.side-icon {
  position: relative;
  display: inline-block;
  text-align: middle;
  align-items: center;
  color: var(--neutral-200);
}

.side-icon i {
  font-size: 40px;
  transition: ease-in 100ms;
}

.side-icon:hover i {
  transform: translateX(-20px) scale(1.3);
}
