.side-bar {
  position: relative;
}

.side-bar-sticky {
  position: sticky;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 20px;
  top: 5rem;
}

.side-icon {
  align-items: center;
  color: var(--neutral-200);
}

.side-icon i {
  font-size: 40px;
  transition: ease-in 100ms;
}

.side-icon:hover i {
  transform: translateX(-20px) scale(1.3);
}
